<%- include("./partials/header") %>

<div class="container mt-5">
    <h1>Welcome to login, Register & delete System!</h1>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-danger">Register</a>
    <a href="/delete" class="btn btn-secondary">delete</a>
</div>

<%- include("./partials/footer") %>